# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/

# Environment Variables
.env

# Python
__pycache__/

# Node
node_modules/
